#main_forgotpassword {
    border: 3px solid rgba(142, 181, 239, 0.59);
    background-color: rgba(142, 181, 239, 0.31);
    width: 300px;
    height: 250px;
    margin: auto;
    margin-top: 40px;
}

#main_forgotpassword div {
    text-align: center;
    margin: 94px 0px 0px 10px;
}

#MAIN {
    height: 300px;
}

#main_forgotpassword input[type="submit"] {
    border: 3px solid rgba(142, 181, 239, 0.59);
    background-color: rgba(142, 181, 239, 0.31);
    width: 90px;
    height: 30px;
}

#main_forgotpassword input[type="submit"]:hover {
    background-color: rgba(142, 181, 239, 0.59);
}

#main_forgotpassword input[type="text"] {
    height: 30px;
}